html {
  font-size: 1.375em;
  line-height: 1.182em;
  padding: 1.182em;
  text-rendering: optimizeLegibility;
  font-family: 'Libre Baskervile', serif;
  background-color: #6b0d0d;
}

#content {
  text-align: center;
}
form {
  background-color: #5f0000;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 2em;
  color: white;
}

header {
  background-color: #370707;
  text-align: center;
  padding: 20px;
  border-radius: 3em;
  margin-bottom: 2%;
  color: white;
}

header h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 2%;
}

header h2 {
  font-size: 1.5em;
  padding-top: 5px;
}

input {
  padding: 8px 8px;
  margin: 5px;
  box-sizing: border-box;
  width: 20em;
}

#input-email {
  margin-left: 2em;
}

#phone {
  margin-right: 1.2em;
}

#dob {
  margin-right: .8em;
}

input[type="date"] {
  width: 20em;
}

#input-age-verification {
  margin: 15px;
}

input[type="checkbox"] {
  width: 19px;
  height: 19px;
}

#input-submit {
  padding-top: 1em;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
}

@media screen and (min-width: 600px) {
  input[type="checkbox"] {
	width: 11px;
	height: 11px;
  }
  form {
	padding: 20px;
	border-radius: 1em;
  }
  header {
	padding: 15px;
  }
  h1 {
  font-size: 2em;
  }
  h2 {
	padding-top: 3px;
	font-size: 1em;
  }
}

@media screen and (min-width: 768px) {

  input[type="checkbox"] {
	width: 13px;
	height: 13px;
  }
  form {
	padding: 23px;
	border-radius: 1.5em;
  }
  header {
	padding: 20px;
  }
  h1 {
  font-size: 2.5em;
  }
  h2 {
	padding-top: 4px;
	font-size: 1.5em;
  }
}
	
	


